.cover-container {
    max-width: 52rem;
    height: 100vh;
    color: white;
}

.title-site {
    padding: 0px;
}

.route-option {
    cursor: pointer;
}

.route-option:hover {
    background-color: #222222;
}

.route-active {
    background-color: #222222;
}