<div class="cover-container p-3 mx-auto">
  <header class="masthead mb-5">
    <div class="container">
      <div class="row">
        <div class="col title-site">
          <h1 class="">{{titleGeneralPage | uppercase}}</h1>
        </div>
        <div class="col">
          <div class="d-flex flex-row-reverse">
            @for (route of routes; track $index) {
              <div class="p-2 route-option"
              (click)="activatedRoute = route.route"
              [ngClass]="{'route-active': activatedRoute == route.route}"
              [routerLink]="route.route">
                <ng-icon [name]="route.iconName" size="20px"></ng-icon>
                {{route.route}}
              </div>
            }
          </div>
        </div>
      </div>

    </div>
  </header>

  <main role="main" class="inner cover">
        <router-outlet></router-outlet>
        <p-toast></p-toast>
  </main>

</div>